
@keyframes example {
    0%   {color:white;  left:0px; top:200px;}
    80%  {left:00px; top:0px;}
  }
  .flip-up {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
  }
.section-seperater {
  width: 50%;
  height: 42px;
  position: relative;
}
.section-seperater::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, #43B1DF 0%, #0D5B95 101.19%);
  z-index: 9;
}
.section-seperater.right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  width: 100%;
  height: 1px;
  transform: translate(50%,-50%);
  background-image: repeating-linear-gradient( 
    13deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px), repeating-linear-gradient( 
    103deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px), repeating-linear-gradient( 
    193deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px), repeating-linear-gradient( 
    283deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px);
        background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-repeat: no-repeat;
}
.section-seperater.left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 100%;
  height: 1px;
  transform: translate(50%,-50%);
  background-image: repeating-linear-gradient( 
    13deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px), repeating-linear-gradient( 
    103deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px), repeating-linear-gradient( 
    193deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px), repeating-linear-gradient( 
    283deg
    , #292931, #292931 18px, transparent 18px, transparent 38px, #292931 38px);
        background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-repeat: no-repeat;
}
.img-home-banner{
  width: 90%;
}
#Home{
  /* padding-top: 80px; */
}
.btn-banner {
  font-weight: bold;
  font-size: 25px;
  line-height: 109.6%;
  letter-spacing: 0.175em;
  color: black;
  display: inline-block;
  width: fit-content;
  padding: 24px 36px;
  text-transform: uppercase;
  position: relative;
  /* margin-left: 42px; */
  /* border: 1px solid; */
  background-color: #00e8f2;
  border-radius: 50px;
 /* box-shadow: ; */
}
.first-sec-second-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.btn-banner:hover{
  color: black;
  text-decoration: none;
  background-color: rgb(63, 163, 206);
}
.span-color{
  color: transparent;
  background-image: linear-gradient(
    90deg
    , #00e8f2 0px, rgb(255, 0, 102));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head{
  font-size: 50px;
  color: transparent;
  background-image: linear-gradient(
90deg
, #0077ff 0px, rgb(255, 0, 102));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  text-align: left;
  font-size: 50px;
}
h3{
  font-weight: bolder;
  text-align: left;
  font-size: 30px;
}
.homePara{
  
  color: white;
  line-height: 50px;
  font-size: 20px;
}
h4{
  text-align: center;
  /* padding-left: 100px; */
  color: white;
  font-weight: bold;
  font-size:70px;
}
h5{
  padding: 20px;
  text-align: center;
  /* padding-left: 100px; */
  color: white;
  font-weight: bold;
  font-size:25px;
}
.btn-pap {
  text-align: center;
  padding: 25px 70px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 9px;
  border-bottom-right-radius: 0;
  transition: all .4s ease-in-out;
  cursor: pointer;
  font-family: 'Lemon/Milk';
  font-weight: bold;
  font-size: 25px;
  line-height: 1.09em;
  letter-spacing: 0.175em;
  color: #000000;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.btn-pap:hover{
  color: white;
  background-color: rgb(63, 163, 206);
  text-decoration: none;
}

.span-color{
  font-weight: bolder;
  color: #00e8f2;
}